{% extends 'records/base.html' %}

{% block title %}Cargar CSV{% endblock %}

{% block content %}
    <h2>Cargar Archivo CSV</h2>
    <p>Sube un archivo CSV con los registros financieros.</p>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.csv_file.label_tag }}
            {{ form.csv_file }}
        </div>
        
        <button type="submit" class="submit-btn">Cargar Archivo</button>
    </form>
{% endblock %}
