{% extends "records/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }} {# Errores generales del formulario #}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="submit-btn">Guardar Registro</button>
    </form>

    {% if history %}
    <hr>
    <h2>Historial de Cambios</h2>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Usuario</th>
                <th>Tipo</th>
                <th>Cambios</th>
            </tr>
        </thead>
        <tbody>
            {% for record in history %}
                <tr>
                    <td>{{ record.history_date }}</td>
                    <td>{{ record.history_user }}</td>
                    <td>{{ record.get_history_type_display }}</td>
                    <td>
                        {% if record.history_type == '~' and record.delta %}
                            <ul>
                                {% for change in record.delta.changes %}
                                    <li><strong>{{ change.field }}:</strong> de '{{ change.old }}' a '{{ change.new }}'</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endblock %}
