{% extends 'records/base_login.html' %}
{% load static %}

{% block title %}Solicitud de Acceso{% endblock %}

{% block content %}
<div class="login-wrapper">
    <div class="login-container">
        <div class="login-logo">
            <img src="{% static 'images/imagen_login.png' %}" alt="Logo">
        </div>
        <h1 class="login-title">Solicitud de Acceso</h1>
        <p class="login-description">Tu cuenta ha sido creada, pero aún no tienes permisos para acceder a la aplicación.</p>
        <p class="login-description">Por favor, contacta a un administrador para que te asigne un rol. Una vez que se te asigne un rol, podrás iniciar sesión.</p>
        <a href="{% url 'login' %}" class="google-login-btn">Volver al Login</a>
    </div>
</div>
{% endblock %}
