<div id="accessRequestModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close-button">&times;</span>     
        <div id="access-request-form-container">
            <h5 class="modal-title" id="deleteAccessRequestModalLabel">Confirmar Eliminación</h5>
            <p>¿Estás seguro de que quieres eliminar la solicitud de acceso para <strong id="modalUsername"></strong>?</p>
            <button type="button" class="btn btn-secondary" id="cancelDeleteAccessRequestBtn">Cancelar</button>
            <button type="button" class="btn btn-danger" id="confirmDeleteAccessRequestBtn">Eliminar</button>
        </div>
    </div>
</div>