{% extends 'records/base_login.html' %}
{% load static %}

{% block title %}Acceso Denegado{% endblock %}

{% block content %}
    <div class="login-wrapper">
        <div class="login-container">
            <div class="login-logo">
                <img src="{% static 'images/imagen_login.png' %}" alt="Logo">
            </div>
            <h1 class="login-title" style="color: #dc3545;">Acceso Denegado</h1>
            <p class="login-description">
                No tienes permiso para acceder esta aplicación con tu cuenta de correo actual.
                Solo se permiten correos corporativos de <strong>@lapocion.com</strong>
                o registrados como <strong>administradores</strong> del sistema>.
            </p>
            <p class="login-description">
                Por favor, inicia sesión con una cuenta autorizada o contacta con el administrador del sistema si crees que esto es un error.
            </p>
            <a href="{% url 'login' %}" class="google-login-btn" style="background-color: #007bff; border-color: #007bff;">
                Volver al Inicio de Sesión
            </a>
        </div>
    </div>
{% endblock %}