{% extends 'records/base.html' %}
{% load static %}

{% block title %}Cargar CSV{% endblock %}

{% block content %}
    <div class="login-wrapper">
        <div class="login-container">
            <div class="login-logo">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </div>
            <h1 class="login-title">Cargar Archivo CSV</h1>
            <a href="{% url 'download_csv_template' %}" class="download-template-link">Descargar Plantilla CSV</a>
            <p class="login-description">Sube un  CSV separado por ;</p>
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.csv_file.label_tag }}
                    {{ form.csv_file }}
                </div>
                
                <button type="submit" class="google-login-btn">Cargar Archivo</button>
            </form>
        </div>
    </div>
{% endblock %}
